aiohttp>=3.8.0,<4.0
aiosignal==1.3.1
anyio==4.3.0
asgiref==3.8.1
asyncio==3.4.3
attrs==23.2.0
beautifulsoup4==4.12.3
binance-futures-connector==4.0.0
build==1.2.1
CacheControl==0.14.0
certifi==2024.7.4
charset-normalizer==3.3.2
class-registry==2.1.2
cleo==2.1.0
colorama==0.4.6
construct==2.10.68
construct-typing==0.5.6
crashtest==0.4.1
dateparser==1.2.0
distlib==0.3.8
Django==4.2.5
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt>=5.3.1
drf-yasg==1.21.5
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.13.4
filters==1.3.2
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jsonalias==0.1.1
jsonpointer==2.4
keyring==24.3.1
lxml==5.2.1
marshmallow==3.21.1
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.26.4
orjson==3.10.0
packaging==23.2
pandas==2.2.2
pexpect==4.9.0
pillow==11.0.0
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==1.5.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.6.0
pycryptodome==3.20.0
pydantic_core==2.16.3
PyJWT==2.10.0
pyproject_hooks==1.0.0
pytest==8.2.2
python-binance==1.0.19
python-dateutil==2.9.0.post0
python-decouple==3.8
python-deriv-api==0.1.6
python-telegram-bot==21.1.1
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rapidfuzz==3.8.1
reactivex==4.0.4
regex==2023.12.25
requests==2.32.0
requests-toolbelt==1.0.0
rsa==4.9
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
solders==0.21.0
soupsieve==2.5
sqlparse==0.5.1
Telethon==1.34.0
tenacity==8.2.3
tomlkit==0.12.4
trove-classifiers==2024.4.10
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
ujson==5.9.0
urllib3==2.2.2
virtualenv==20.25.3
websocket-client==1.7.0
websockets==10.3
yarl>=1.12.0,<2.0

stripe~=11.3.0
python-dotenv~=1.0.1
celery==5.3.1
django-celery-beat==2.5.0
django-celery-beat==2.5.0
django-celery-beat==2.5.0
